{% extends "_base.html" %}
{% load markdown_deux_tags %}

{% block content %}


<div class="col-sm-8 col-sm-offset-3">
  <h1 class="">{{ title }}</h1>
<form method="GET" class="">
  <div class="input-group mb-3 mt-2">
  <input type="text" name="q" class="form-control" placeholder="Buscar..." aria-label="Search" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" value="search" type="submit" id="button-addon2">>>></button>
  </div>
</div>
</form>

    {% for obj in obj_list  %}
    <div class="row">
      <div class="col-sm-12">
        <div class="card mb-2 post-detail-item" style="width: 42rem;">
          {% if obj.img %}
              <img src="{{ obj.img.url }}" class="card-img-top" alt="...">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title"><a href="{{ obj.get_absolute_url }}" class="">{{ obj.title }}</a></h5>
            <p class="card-text">{{ obj.get_markdown|truncatechars_html:120 }}</p>
            <a href="{{ obj.get_absolute_url }}" class="btn btn-primary">Leer</a>
          </div>
        </div>
      </div>
    </div>

  {% endfor %}
  <div class="pagination">
    <span class="step-links">
        {% if obj_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ obj_list.previous_page_number }}&q={{ request.GET.q}} ">previous</a>
        {% endif %}

        <span class="current">
            Page {{ obj_list.number }} of {{ obj_list.paginator.num_pages }}.
        </span>

        {% if obj_list.has_next %}
            <a href="?page={{ obj_list.next_page_number }}">next</a>
            <a href="?page={{ obj_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
</div>
{% endblock content %}
